modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/coincash-home: Homepage"

[[workflows.workflow]]
name = "artifacts/coincash-home: Homepage"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8000 pnpm --filter @workspace/coincash-home run dev"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_TRON_API_KEY = "3602311a-f31c-4ad0-b351-647e8cd9d11a"
VAPID_PUBLIC_KEY = "BGCYhOmWOgJ-XWbx0PTJ9AsVUCEVQIhz8Os8mPXHZweoKtB3Wnjmti_bakBajkCLmEi9Nk_ILqKJLYVIcW4tDMI"
VAPID_PRIVATE_KEY = "BnJWuq7khddSvWLP3KbOovWwlrshFLNSSlUJIU3S8ek"
VAPID_MAILTO = "mailto:soporte@coincash.app"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 25766
externalPort = 80
